#p1 {
    font-size: 40px;
}
#p2 {
    font-size: 30px;
}
#ab {
    font-size: 60px;
    background-color: rgb(189, 167, 167);

}

.f1{
    background-color: rgb(31, 199, 177);
}
.f2{
    background-color: aqua;
}